---
---

@import
	"vars"
;

.page-content {
	justify-content: center;
	align-items: center;
	a, a:link, a:visited, a:hover, a:active {
		color: black;
	}
}
#main-banner {
	width: 70vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.full-width {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin: 3px 0px;
}
.nav-container {
	font-size: 20pt;
}
#mainpicture {
	min-width: 280px;
	width: 15vw;
	border-radius: 15vw;
	border: 4px black solid;
}
#myinfo {
	font-size: 30pt;
	max-width: 100%;
	word-break: break-all;
}
@include media-query(1020px) {
	#myinfo {
		text-align: center;
	}
}
@include media-query(640px) {
	.full-width {
		flex-flow: column nowrap;
		align-items: center;
		text-align: center;
	}
}
