---
#Site-wide styles
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"vars",
        "base",
        "syntax-highlighting",
	"footer",
	"header",
	"page"
;

.page-content {
	width: $site-width;
	min-width: $site-min-width;
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}
