---
---

.presentation-container {
	width: 90%;
	border: .5px black solid;
	margin: auto;
	margin-top: 1em;
	background: #ddd;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.presentation-image {
	width: 20em;
	text-align: center;
}
img {
	width: 70%;
	display: block;
	border: 1px black solid;
	margin: .5em auto;
}

.presentation-text {
	margin: 1em;
	margin-top: 3em;
	-webkit-flex: 1;
	flex: 1;
	font-size: 1.3em;
}

