---
layout: page
display_title: Blog
title: Blog - Brandon Moore - Tech Thoughts and Other Things
permalink: /blog/
extra_css: blog
---

<div id="container">
<div id="title">
<h1> Tech Thoughts and Other Things</h1>
<h3> -- A personal blog </h3>
</div>

<p> While I like to talk about technical things, I aim to keep things easy to understand for as many people as possible. It's very possible that I might end up doing a bad job at that in a post. If this is the case, feel free to <a href="mailto:moore.3071@osu.edu">email me</a> or leave a comment. If you notice an error in my tech mumbo-jumbo, then please let me know so I can fix it. </p>

<ul>
{% for post in site.posts %}
  {% if post.categories contains 'blogging'%}
    <li> {{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}"> {{ post.title}} </a> </li>
  {% endif %}
{% endfor %}
</ul>
</div>
