---
layout: index_page
extra_css: index
---

<div id="home">
	<div id="main-banner">
		<div class="full-width">
			<img src="images/profile.jpg" id="mainpicture">
			<div id="myinfo">
				<h2>Brandon Moore</h2>
				<h3><a href="mailto: moore.3071@osu.edu">moore.3071@osu.edu</a></h3>
				<h6><a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0xCEFA26C2299FE115">GPG: CEFA26C2299FE115</a></h6>
			</div>
		</div>
		<div class="full-width">
			{% for my_page in site.pages %}
			{% if my_page.title %}
			<div class="nav-container">
				<a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
			</div>
			{% endif %}
			{% endfor %}
			<div class="nav-container">
				<a href="https://moore3071.github.io/resume/resume.pdf">Resume</a>
			</div>
		</div>
	</div>
</div>
