---
layout: page
title: Presentations
permalink: /presentations/
extra_css: presentations
---

{% for post in site.posts %}
  {% if post.categories contains 'presentation'%}

    <div class="presentation-container">

	    {% if post.image %}
	    <div class="presentation-image"><img src="{{post.image}}" id="profile_pic"></img></div>
	    {% else %}
	    <div class="presentation-image"><img src="../images/placeholder.svg" id="profile_pic"></img></div>
	    {% endif %}

	    <div class="presentation-text">
		    {% if post.link %}
		    <h2> <a href="{{post.link}}">{{post.title}}</a></h2>
		    {% else %}
		    <h2> {{post.title}} (Not yet published)</h2>
		    {% endif %}

		    <p>{{post.content}}</p>

	    </div>
    </div>

  {% endif %}
{% endfor %}
