<footer class="site-footer">

  <div class="flex-wrapper">

    <div class="footer-col-wrapper">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <h3 class="footer-heading"><a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0xCEFA26C2299FE115">GPG: CEFA26C2299FE115</a></h3>
    </div>

    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
    </div>

    <div>
        If this website isn't displaying correctly, please consider <a href="https://updatemybrowser.org/">upgrading your web browser</a>.
    </div>

  </div>

</footer>
