<header class="site-header">


    <nav class="site-nav">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.display_title %}
	      <a class="page-link" id="{{ my_page.title }}header" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.display_title }}</a>
	    {% else %}
              <a class="page-link" id="{{ my_page.title }}header" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
	  {% endif %}
        {% endfor %}
      <a class="page-link" href="https://moore3071.github.io/resume/resume.pdf">Resume</a>
    </nav>

</header>
