.site-footer {
	border-top:1px solid black;
	margin-top: 1em;

	.flex-wrapper {
		justify-content: space-between;
		div {
			flex: 1 0 0;
		}
		ul {
			margin: auto;
		}
	}
}

@include media-query(1020px) {
	.site-footer{
		.flex-wrapper {
			flex-flow: column nowrap;
			align-items: center;
			text-align: center;
		}
	}
}
