---
layout: default
extra_css: post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-headers">
    <div>
      <h1 class="post-title" itemprop="name headline">{{ page.title }} </h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:"%-d %b, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </div>
    <h2><a href="/blog" id="return_to_blog">Back</a></h2>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

  <form id="add-comment" class="form" action="https://api.staticman.net/v2/entry/moore3071/moore3071.github.io/master/comments" method="post">
    <p><b>your comment may take up to ten minutes to show up </b></p>
    <input type="hidden" name="options[redirect]" value="{{ page.url | prepend: site.url }}"/>
    <input type="hidden" name="options[slug]" value="{{ page.slug }}"/>
    <input class="field" type="text" name="fields[name]" placeholder="Name" required/>
    <textarea class="field" type="text" name="fields[message]" rows="10" placeholder="Comment. Markdown is accepted." required></textarea>
    <input type="submit" value="Send" />
  </form>

  {% include post-comments.html %}
